@font-face {
   font-family: EstrangeloEdessa;
   src: url(https://drive.google.com/open?id=0B88rog5gPWqnb1J6VmotZVVYOVU&authuser=0);
}

div, p {
   font-family: EstrangeloEdessa;
   font-size: x-large;
}
