@font-face {
   font-family: EstrangeloEdessa;
   src: url('https://drive.google.com/open?id=0B88rog5gPWqnb1J6VmotZVVYOVU&authuser=0');
}

body {
  background-color: #fff;
  padding:50px;
  font-family: Garamond;
  color:#727272;
  font-weight:400;
}

p {
   font-family: EstrangeloEdessa;
}

